// Fonts
$baseFont: arial, sans-serif, monospace;

// Colors 
$darkBlueColor: #132330;
$darkRedColor: #d40300;
$redColor: #ff0600;
$yellowColor: #ffb500;

$blackColor: #000;
$whiteColor: #fff;

$greyColor: #2c3945;

// z-index 
$z-index1: 1;
$z-index2: 11;
$z-index3: 111;
$z-index4: 1111;
$z-index5: 11111;
$z-index6: 111111;
$z-index7: 1111111;
$z-index8: 11111111;
$z-index9: 111111111;