
include ../helpers/variables/_variables
include ../helpers/mixin/_mixin

doctype

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")

    block title

    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="custom.min.css")

    block scripts

    body.page
      
      include ../modules/_header

      block content

      include ../modules/_footer

    script(src="common.min.js")
    